.root {
    -fx-accent: #307cf7;
    -accent-blue: #307cf7;
    -accent-blue-pressed: #2d74e3;

    -system-background-color: #eaeaed;
    -text-color: #000000;
    -secondary-system-background-color: #e3e4e6;

    -cancel-button-background: #d3cfcd;
    -cancel-button-background-pressed: #c9c4c2;
    -cancel-button-text: #343332;

    -blue-button-text: #ffffff;

    -system-red: #ff3b30;
    -mine-red: #BB0100;
    -system-pink: #ff2d55;
    -system-orange: #ff9500;
    -flag-orange: #C35500;
    -system-yellow: #ffcc00;
    -system-green: #34c759;
    -system-blue: #007aff;
    -system-teal: #5ac8fa;
    -system-indigo: #5856d6;
    -system-purple: #af52de;

    -light-blue: #bad7fb;
    -light-purple: #dbc6dd;
    -light-pink: #f4cce1;
    -light-red: #edc5c6;
    -light-orange: #f6dabf;
    -light-yellow: #fceec3;
    -light-green: #d5e9ca;
    -graphite: #e0e0e0;

    -system-gray: #8e8e93;
    -system-gray-2: #aeaeb2;
    -system-gray-3: #c7c7cc;
    -system-gray-4: #d1d1d6;
    -system-gray-5: #e5e5ea;
    -system-gray-6: #f2f2f7;

    -fx-background: -system-background-color;

    -fx-font-family: "SF Pro Display Regular";

}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../Font/SF-Pro-Display-Regular.otf');
}

@font-face {
    font-family: 'SF Pro Display Semibold';
    src: url('../Font/SF-Pro-Display-Semibold.otf');
}

@font-face {
    font-family: 'SF Mono Regular';
    src: url('../Font/SF-Mono-Regular.otf');
}

/*Welcome Controller*/
#swiftLabel {
    -fx-font-family: "SF Pro Display Regular";
    -fx-text-fill: -system-orange;
}

#wandAndStarsLabel {
    -fx-font-family: "SF Pro Display Regular";
    -fx-text-fill: #ff3b30;
}

#rectangleStackFillLabel {
    -fx-font-family: "SF Pro Display Regular";
    -fx-text-fill: #007aff;
}

#circleLabel {
    -fx-font-family: "SF Pro Display Regular";
    -fx-text-fill: -text-color;
}

#welcomeAnchorPane {
    -fx-background-color: #ffffff;
}

#welcomeDividerLine {
    -fx-stroke: #d1d1d6;
}

#continueStackPane {
    -fx-background-color: -system-gray-5;
}

#continueButton {
    -fx-background-color: -accent-blue;
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
}

#continueButton:pressed {
    -fx-background-color: -accent-blue-pressed;
}

/*Choose Mode Controller*/
#exitButton {
    -fx-background-color: -cancel-button-background;
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 18;
    -fx-text-fill: -cancel-button-text;
}

#exitButton:pressed {
    -fx-background-color: -cancel-button-background-pressed;
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 18;
    -fx-text-fill: -cancel-button-text;
}

#singlePlayerVBox {
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#singlePlayerVBox:hover {
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#singlePlayerVBox:pressed {
    -fx-background-color: -system-gray-5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#multiPlayerVBox {
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#multiPlayerVBox:hover {
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#multiPlayerVBox:pressed {
    -fx-background-color: -system-gray-5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

.cancelButton {
    -fx-background-color: -cancel-button-background;
    -fx-background-radius: 2;
    -fx-font-family: "SF Pro Display Regular";
    -fx-text-fill: -cancel-button-text;
}

.cancelButton:pressed {
    -fx-background-color: -cancel-button-background-pressed;
    -fx-background-radius: 2;
    -fx-font-family: "SF Pro Display Regular";
    -fx-text-fill: -cancel-button-text;
}

.doneButton {
    -fx-background-color: -accent-blue;
    -fx-background-radius: 2;
    -fx-font-family: "SF Pro Display Regular";
    -fx-text-fill: -blue-button-text;
}

.doneButton:pressed {
    -fx-background-color: -accent-blue-pressed;
}

.header-panel {
    -fx-background-color: -secondary-system-background-color;
}

.combo-box .list-cell {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-color: -secondary-system-background-color;
}

.combo-box .arrow {
    -fx-background-color: -system-background-color;
}

.combo-box .arrow-button {
    -fx-background-color: -accent-blue;
}

.combo-box-popup .list-view {
    -fx-background-color: -secondary-system-background-color;
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: -secondary-system-background-color;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background: -accent-blue;
    -fx-background-color: -accent-blue;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -light-blue;
    -fx-text-fill: -text-color;
}

.combo-box-popup .list-view .list-cell:hover:selected {
    -fx-background: -accent-blue;
    -fx-background-color: -accent-blue;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Choose Level Controller */

#easyHBox {
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#easyHBox:hover {
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#easyHBox:pressed {
    -fx-background-color: -system-gray-5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#mediumHBox {
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#mediumHBox:hover {
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#mediumHBox:pressed {
    -fx-background-color: -system-gray-5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#expertHBox {
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#expertHBox:hover {
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#expertHBox:pressed {
    -fx-background-color: -system-gray-5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#customHBox {
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#customHBox:hover {
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#customHBox:pressed {
    -fx-background-color: -system-gray-5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: -system-orange;
    -fx-border-width: 5;
}

#backButton {
    -fx-background-color: -accent-blue;
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 18;
    -fx-text-fill: -blue-button-text;
}

#backButton:pressed {
    -fx-background-color: -accent-blue-pressed;
}

#leftAnchorPane {
    -fx-background-color: -light-blue;
}

.scroll-pane {
    -fx-background-color: -light-blue;
}

.scroll-pane > .viewport {
    -fx-background-color: -light-blue;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.minefieldGridPane {
    -fx-background-color: -light-blue;
}

.minefieldLabel {
    -fx-text-fill: -accent-blue;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-font-size: 48;
    -fx-font-family: "SF Pro Display Regular";
}

.minefieldLabel:hover {
    -fx-text-fill: -accent-blue-pressed;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-font-size: 48;
    -fx-font-family: "SF Pro Display Regular";
}

.minefieldLabel:pressed {
    -fx-text-fill: #1E68DC;
    -fx-font-size: 48;
    -fx-font-family: "SF Pro Display Regular";
}

.minefieldLabelClicked {
    -fx-text-fill: -text-color;
    -fx-font-size: 48;
    -fx-font-family: "SF Pro Display Regular";
}

.minefieldLabelFlagged {
    -fx-text-fill: -flag-orange;
    -fx-font-size: 48;
    -fx-font-family: "SF Pro Display Regular";
}

.minefieldLabelQuestioned {
    -fx-text-fill: -system-indigo;
    -fx-font-size: 48;
    -fx-font-family: "SF Pro Display Regular";
}

.minefieldLabelBombed {
    -fx-text-fill: -mine-red;
    -fx-font-size: 48;
    -fx-font-family: "SF Pro Display Regular";
}

#timerIcon {
    -fx-text-fill: -system-orange;
}

#timerLabel {
    -fx-font-family: "SF Mono Regular";
}

#mineIcon {
    -fx-text-fill: -system-red;
}

#mineLabel {
    -fx-font-family: "SF Mono Regular";
}

